html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: 'CeraPro';
	src: url('../public/CeraPro_Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CeraPro';
	src: url('../public/CeraPro_Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


body {
	color: black;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

table, tr, td, th { 
	padding: 10px;
	border-collapse: collapse; 
	border-spacing: 0; 
	border:1px solid;
}

main {
  min-height: calc(100vh - 276px);
}

a {
	text-decoration: none;
	cursor: pointer;	
}

button {
	border: none;
	cursor: pointer;
}

img	{
	max-width: 100%;
	max-height: 100%;
}

ul {
	margin-left: 0;
  padding-left: 0; 
}

input:focus {
  outline:none;
}

textarea:focus {
  outline:none;
}

.container {
	max-width: 1340px;
	padding: 0 20px;
	margin: 0 auto;
}

.main_container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
